[submodule "modules-server/api"]
	path = modules-server/api
	url = git@github.com:pageboard/api.git
[submodule "modules-server/auth"]
	path = modules-server/auth
	url = git@github.com:pageboard/auth.git
[submodule "modules-server/cache"]
	path = modules-server/cache
	url = git@github.com:pageboard/cache.git
[submodule "modules-server/core"]
	path = modules-server/core
	url = git@github.com:pageboard/core.git
[submodule "modules-server/github-webhook"]
	path = modules-server/github-webhook
	url = git@github.com:pageboard/github-webhook.git
[submodule "modules-server/image"]
	path = modules-server/image
	url = git@github.com:pageboard/image.git
[submodule "modules-server/inspector"]
	path = modules-server/inspector
	url = git@github.com:pageboard/inspector.git
[submodule "modules-server/mail"]
	path = modules-server/mail
	url = git@github.com:pageboard/mail.git
[submodule "modules-server/prerender"]
	path = modules-server/prerender
	url = git@github.com:pageboard/prerender.git
[submodule "modules-server/read"]
	path = modules-server/read
	url = git@github.com:pageboard/read.git
[submodule "modules-server/statics"]
	path = modules-server/statics
	url = git@github.com:pageboard/statics.git
[submodule "modules-server/upload"]
	path = modules-server/upload
	url = git@github.com:pageboard/upload.git
[submodule "modules-client/elements"]
	path = modules-client/elements
	url = git@github.com:pageboard/elements.git
[submodule "modules-client/elements-gallery"]
	path = modules-client/elements-gallery
	url = git@github.com:pageboard/elements-gallery
[submodule "modules-client/elements-google"]
	path = modules-client/elements-google
	url = git@github.com:pageboard/elements-google
[submodule "modules-client/elements-mail"]
	path = modules-client/elements-mail
	url = git@github.com:pageboard/elements-mail
[submodule "modules-client/elements-semantic-ui"]
	path = modules-client/elements-semantic-ui
	url = git@github.com:pageboard/elements-semantic-ui
[submodule "modules-client/elements-write"]
	path = modules-client/elements-write
	url = git@github.com:pageboard/elements-write
[submodule "modules-client/pagecut"]
	path = modules-client/pagecut
	url = git@github.com:pageboard/pagecut
[submodule "modules-client/elements-calendar"]
	path = modules-client/elements-calendar
	url = git@github.com:pageboard/elements-calendar
