[submodule "packages/auth"]
	path = packages/auth
	url = git@github.com:pageboard/auth.git
[submodule "packages/github-webhook"]
	path = packages/github-webhook
	url = git@github.com:pageboard/github-webhook.git
[submodule "packages/image"]
	path = packages/image
	url = git@github.com:pageboard/image.git
[submodule "packages/inspector"]
	path = packages/inspector
	url = git@github.com:pageboard/inspector.git
[submodule "packages/prerender"]
	path = packages/prerender
	url = git@github.com:pageboard/prerender.git
[submodule "packages/upload"]
	path = packages/upload
	url = git@github.com:pageboard/upload.git
